Checks: >
  *,
  -abseil-*,
  -altera-*,
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -cert-env33-c,
  -cert-dcl59-cpp,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-vararg,
  -ctad-maybe-unsupported,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -llvm-include-order,
  -llvm-namespace-comment,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers
CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: "do while"
  readability-else-after-return.WarnOnUnfixable: false
  readability-identifier-length.IgnoredVariableNames: '_'
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.LocalConstantCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.GlobalFunctionCase: CamelCase
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.MethodIgnoredRegexp: ((to|from)_class)
  readability-identifier-naming.ParameterPackCase: lower_case
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.PrivateMethodCase: camelBack
  readability-identifier-naming.PrivateMethodPrefix: ''
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.ProtectedMethodPrefix: ''
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.StaticConstantCase: UPPER_CASE
  readability-identifier-naming.StaticVariableCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: lower_case
  readability-identifier-naming.TemplateTemplateParameterCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
